experiment:
  name: 'diffusion_handwriting_generation'
  work_dir: '/workspace/runs'
  data_dir: '/workspace/IAM'
  splits_file: './data/splits.json'

  seed: 1234567
  precision: 10
  deterministic: false

dataset_args:
  max_seq_len: 480 # % 8 == 0
  max_text_len: 50
  img_height: 96
  img_width: 1400

training_args:
  steps: 60000
  batch_size: 64
  num_workers: 4
  max_files: null

  warmup_steps: 5000
  clip_grad: 1.0
  dropout: 0.0
  att_layers_num: 2
  channels: 128

  log_freq: 10
  save_freq: 1000


optimizer:
  type: torch.optim.Adam
  params:
    lr: 0.0003
    weight_decay: 0.00001
    betas: [0.9, 0.98]